@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link href="~/dist/css/pages/login-register-lock.css" rel="stylesheet">
<div class="login-register" style="background-image:url(../../assets/images/background/NanoCell-bg.jpg);">
    <div class="login-box card shadow rounded">
        <div class="card-body">
            <h1 class="text-center m-b-20">@ViewData["Title"]</h1>

            <form class="form-horizontal form-material" id="account" method="post">
                @*<h4>Use a local account to log in.</h4>*@
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Input.Email"></label>*@
                    <div class="col-xs-12">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    @* <label asp-for="Input.Password"></label>*@
                    <div class="col-xs-12">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row d-flex">
                    <div class="col mr-auto">
                        @*<div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </div>*@
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" asp-for="Input.RememberMe">
                            <label class="custom-control-label" asp-for="Input.RememberMe">Remember me</label>
                        </div>
                    </div>
                    <div class="col text-right">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot pwd??</a>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                        <button class="btn btn-block waves-effect btn-lg btn-info btn-rounded" type="submit">Log In</button>
                    </div>
                </div>
                @*<div class="row d-flex">
                <div class="col align-self-start mr-auto">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
                <div class="col align-self-end text-right">
                    <button type="submit" class="btn btn-primary align-self-end w-100">Log in</button>
                </div>

            </div>*@
                @*<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                    <div class="social">
                        <button class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </button>
                        <button class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus-g"></i> </button>
                    </div>
                </div>
            </div>*@

            </form>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) > 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="form-group">
                            <center class="m-t-5">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn waves-effect btn-primary btn-rounded" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </center>
                        </div>
                    </form>
                }
            }
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><b>Sign Up</b></a>
                </div>
            </div>
        </div>
        </div>
    </div>
    @*<div class="row justify-content-md-center">
            <div class="col-md-4 col-sm-12 ">
                <section>
                    <h4>Use another service to log in.</h4>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>*@

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
